@use 'variables' as v;

.btn-primary {
  display: inline-block;
  background-color: v.$text-primary;
  color: v.$bg-dark;
  padding: 12px 32px;
  text-decoration: none;
  font-family: v.$font-main;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  transition:
    transform 0.2s,
    background-color 0.2s;

  &:hover {
    background-color: v.$text-secondary;
    transform: translateY(-2px);
  }
}
